In [8]:
username = "admin"
password = "1234"

input_username = "admin"
input_password = "1234"

# logic

if input_username == username and input_password == password:
    print("Login Successful")
else:
    print("Invalid Credentials")

Login Successful

In [2]:
marks = [45, 78, 90, 33, 60]

pass_count = 0
fail_count = 0

# for loop to iterate
for m in marks:
    if m >= 50:
        pass_count += 1
    else:
        fail_count += 1

print("Total Pass Students:", pass_count)
print("Total Fail Students:", fail_count)

Total Pass Students: 3
Total Fail Students: 2

In [3]:
names = [" Alice ", "bob", " CHARLIE "]

cleaned_names = []

# use append

for name in names:
    cleaned_names.append(name.strip().lower())

print("Cleaned Names:", cleaned_names)

Cleaned Names: ['alice', 'bob', 'charlie']

In [4]:

messages = ["Hi", "Welcome to the platform", "OK"]

for msg in messages:
    length = len(msg)
    print(f"Message: '{msg}' | Length: {length}")

    if length > 10:
        print("Long message detected")

Message: 'Hi' | Length: 2
Message: 'Welcome to the platform' | Length: 23
Long message detected
Message: 'OK' | Length: 2

In [6]:
logs = ["INFO", "ERROR", "WARNING", "ERROR"]

#use count
error_count = logs.count("ERROR")

print("Total ERROR entries:", error_count)

Total ERROR entries: 2