In [1]:
#Unique Words in a Sentence
sentence = "python is easy and python is powerful"

words = sentence.split() # Split sentence .
unique_words = set(words)

print("Unique words count:", len(unique_words)) # Display word
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'and', 'python', 'powerful', 'is', 'easy'}

In [2]:
#Highest Salary from Employee Data

employees = {
    "Rohan": 75000,
    "Ambu": 68000,
    "kunal": 72000
}

# Finding highest salary
highest_employee = max(employees, key=employees.get)

print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Rohan - 75000

In [3]:
#Find Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]

#max and min
maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:

#Count Products Above a Price Threshold

prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [5]:

#Calculate Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for status in attendance:
    if status == "P":
        present_count += 1

percentage = (present_count / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [6]:

#Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
#Count Character Frequency

text = "python"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:

#Convert List to Tuple

numbers = [10, 20, 30]

converted_tuple = tuple(numbers)

print("Tuple:", converted_tuple)

Tuple: (10, 20, 30)

In [10]:

#Check if a Key Exists in a Dictionary

employees = {
    "aadi": 75000,
    "Anand": 68000,
    "bhumika": 72000
}

key_to_check = "bhumika"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [11]:

#Calculate Average Marks

marks = [61, 71, 73, 89]

total = 0

for mark in marks:
    total += mark

average = total / len(marks)

print("Average Marks:", average)

Average Marks: 73.5